<%- include("partials/header.ejs") %>

<div class="page">
  <div class="heading">
    <h1>Update Post page</h1>
  </div>
  <div class="form">
    <form action="/<%= userName %>/update" method="POST" class="form">
      <input type="text" name="post" id="" value="<%= post %>" />
      <input
        type="text"
        name="postNumber"
        id=""
        value="<%= postNumber %>"
        hidden
      />
      <input type="submit" name="update" id="" value="Update" class="button"/>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>
